.breadcrumb-list {
  display: flex;
  padding: 18px 0;
  &__item {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.25;
    &:not(:last-child)::after {
      content: "/";
      margin-right: 4px;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}
