* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: #333;
  background-color: #f5fafe;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #fff;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0;
}
.navbar-top__menu-button {
  display: none;
}

.navbar-bottom {
  background-color: #0a223d;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 31px 0;
}
.navbar-menu__link {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.logo {
  width: 177px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}
.search__input {
  width: 350px;
  background-color: #f5fafe;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333;
  padding: 0 70px 0 23px;
  height: 100%;
}
.search__input:focus {
  outline: none;
}
.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
  background-color: #ec1f46;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.search__button:hover {
  background-color: #ff5272;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.user__name {
  margin: 0 0 0 18px;
  font-size: 14px;
  line-height: 18px;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
}
.breadcrumb-list__item {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.25;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding: 23px 0 70px 0;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-info__name {
  margin: 4px 0 0 0;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.hotel-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #ec1f46;
  border-radius: 3px;
  color: #fff;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.stars {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #ec1f46;
  border-radius: 4px;
}
.rating__text {
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotel-slider {
  width: 728px;
  height: 450px;
}
.hotel-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hotel-slider__button--next {
  right: 18px;
  background: url(../images/arrow-right.svg) no-repeat center/10px;
}
.hotel-slider__button--prev {
  left: 18px;
  background: url(../images/arrow-left.svg) no-repeat center/10px;
}
.hotel-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.hotel-slider__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 122, 223, 0.48)),
    to(rgba(255, 255, 255, 0.128))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 122, 223, 0.48) 0%,
    rgba(255, 255, 255, 0.128) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 122, 223, 0.48) 0%,
    rgba(255, 255, 255, 0.128) 100%
  );
  z-index: 2;
}

.booking {
  background-color: #0a223d;
  border-radius: 8px;
  font-family: "Nunito";
  width: 350px;
  min-height: 210px;
  padding: 28px;
  color: #fff;
}
.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9px;
}
.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.booking__start {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.booking__per-room {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.booking__room {
  margin-top: 4px;
}
.booking__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.booking__description {
  margin-left: 9px;
}
.booking__call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px;
}
.booking__heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__num {
  margin-left: 8px;
}
.booking__button {
  width: 100%;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  font-family: "Nunito";
  border-radius: 4px;
  background-color: #ec1f46;
  border: none;
  color: #fff;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  background-color: inherit;
}
.map iframe {
  border-radius: 4px;
}

.newsletter {
  position: relative;
  padding: 98px 0 87px 0;
  background-image: url(../images/hotel-subscribe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}

.newsletter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  max-width: 731px;
  margin: 0 auto;
}

.newsletter-title {
  color: #fff;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 24px;
}
.newsletter-title__strong {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
}
.subscribe__input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 70px;
  font-family: "Mulish";
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.subscribe__button {
  position: absolute;
  min-width: 65px;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background-color: #ec1f46;
  color: #fff;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.reviews {
  padding: 40px 0 70px 0;
}
.reviews__title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.reviews-slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 730px;
  margin: 45px auto 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 62px 30px;
}
.reviews-slider__item:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 62px;
  width: 70px;
  height: 47px;
  background-image: url(../images/quote-left.svg);
  background-repeat: no-repeat;
}
.reviews-slider__item::after {
  content: "";
  position: absolute;
  top: 118px;
  right: 62px;
  width: 70px;
  height: 47px;
  background-image: url(../images/quote-right.svg);
  background-repeat: no-repeat;
}
.reviews-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
}
.reviews-slider__button--prev {
  background-image: url(../images/arrow-prev-secondary.svg);
  left: 0;
}
.reviews-slider__button--next {
  background-image: url(../images/arrow-next-secondary.svg);
  right: 0;
}
.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -45px;
  margin-bottom: 30px;
}
.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 9px;
}
.reviews-slider__username {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ec1f46;
  margin-bottom: 10px;
}
.reviews-slider__date {
  margin-bottom: 4px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
}
.reviews-slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reviews-slider__text {
  font-family: "Mulish";
  max-width: 537px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  margin: auto;
}

.activities {
  padding: 60px 0 98px 0;
}
.activities__title {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 57px;
}

.activities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -o-linear-gradient(
    270.17deg,
    rgba(196, 196, 196, 0) 35.34%,
    #0a223d 99.85%
  );
  background: linear-gradient(
    179.83deg,
    rgba(196, 196, 196, 0) 35.34%,
    #0a223d 99.85%
  );
  z-index: -1;
}
.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}
.card__title {
  margin-top: auto;
  margin-bottom: 18px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.card__button {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  min-width: 100px;
  min-height: 30px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  background-color: #ec1f46;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel-slider {
    width: 590px;
  }
  .hotel-slider__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 992px) {
  .container,
  .newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .search__input {
    width: 340px;
  }
  .navbar-top {
    padding: 30px 0;
  }
  .navbar-menu {
    padding: 22px 0;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hotel-slider {
    width: 100%;
  }
  .hotel__slider {
    margin-bottom: 30px;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .booking {
    width: 340px;
  }
  .map {
    width: 340px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .activities-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card {
    width: 340px;
    height: 230px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar__search,
  .navbar__user {
    display: none;
  }
  .navbar-menu {
    display: none;
  }
  .menu-button {
    width: 16px;
    height: 16px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-left: 0;
  }
  .hotel-info__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel-info__description {
    margin: 5px 0;
  }
  .stars {
    -ms-flex-preferred-size: content;
    flex-basis: content;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .hotel-slider {
    height: 350px;
  }
  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 450px;
  }
  .booking,
  .map {
    width: 100%;
  }
  .newsletter-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 576px;
    width: 92%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider::after,
  .reviews-slider::before {
    display: none;
  }
  .reviews-slider__button {
    top: 32px;
  }
  .reviews-slider__button--prev {
    left: 50%;
    margin-left: -65px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .reviews-slider__button--next {
    right: 50%;
    margin-right: -65px;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .card {
    width: 49%;
    height: 255px;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .hotel-slider {
    height: 250px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .newsletter {
    padding: 76px 0 83px 0;
  }
  .newsletter__title {
    margin-bottom: 37px;
  }
  .subscribe {
    width: 100%;
  }
  .card {
    width: 100%;
  }
} /*# sourceMappingURL=style.css.map */
